@import "tailwindcss";

@theme {
    --color-darkYellow: #F2C206;
    --color-lightYellow: #F9E784;
    --color-gray: #EEEEEE;
    --color-darkBlue: #001B2E;
    --color-lightBlue: #294C60;
    --color-darkText: #222222;
    --color-grayBG: #EEEDEA;
  }